@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  height: 400px;
  box-shadow: 0px 2px 20px gray;
  display: flex;
  border-radius: 20px;
}

.wrapper1 {
  display: flex;
  width: 50%;
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.wrapper2 {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.content div {
  text-align: center;
  width: 100%;
}
.btn {
  width: 100%;
  border-radius: 20px;
  border: none;
  height: 42px;
  color: white;
  background: var(--Dark-gray-blue);
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
}

.circle-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  width: 150px !important;
  border: none;
  border-radius: 20rem;
  background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
}

li {
  width: 100%;
  height: 40px;
  background: var(--Green-teal);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li-1 div,
.li-2 div,
.li-3 div,
.li-4 div {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  display: flex;
  align-items: center;
  gap: 5px;
}
.li-1 {
  transition: all 0.2s;
  background: hsl(0, 100%, 67%, 0.15);
  color: var(--Light-red);
}
.li-2 {
  transition: all 0.2s;
  background: hsl(39, 100%, 56%, 0.15);
  color: var(--Orangey-yellow);
}
.li-3 {
  transition: all 0.2s;
  background: hsl(166, 100%, 37%, 0.15);
  color: var(--Green-teal);
}
.li-4 {
  transition: all 0.2s;
  background: hsl(234, 85%, 45%, 0.15);
  color: var(--Cobalt-blue);
}

.li-1:hover,
.li-2:hover,
.li-3:hover,
.li-4:hover {
  transform: scale(1.1);
}

/* fonts */

.title {
  color: var(--Light-lavender);
  font-size: 18px;
  font-weight: 500;
}

.score {
  font-size: 3rem;
  font-weight: 800;
  color: var(--White);
}

.total {
  color: var(--Light-lavender);
  font-weight: 700;
}

.achive {
  color: var(--White);
  font-size: 1.2rem;
}

.dis {
  color: var(--Light-lavender);
  font-weight: 500;
}

.summary {
  color: var(--Dark-gray-blue);
  text-align: left;
  font-weight: 700;
  font-size: 1.3rem;
}

.result {
  color: var(--Dark-gray-blue);
  font-weight: 700;
  font-size: 1.1rem;
}

.result-total {
  color: grey;
  font-size: 1rem;
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    padding-bottom: 10px;
    border-radius: 0;
  }

  .wrapper1,
  .wrapper2 {
    width: 100%;
  }

  .wrapper1 {
    border-radius: 0 0 20px 20px;
  }

  .content {
    width: 100%;
    padding: 25px;
    gap: 30px;
  }
}
